# saving a model

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("train.csv",usecols=["Survived","Pclass","Sex","Age","Fare"])

In [3]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [4]:
df["Age"].mean()

29.69911764705882

In [5]:
df["Age"]= df["Age"].fillna(df["Age"].mean())

In [6]:
def ritik(Sex):
    if Sex=='male':
        return 1
    elif Sex =="female":
        return 0

In [7]:
df["Sex"]= df["Sex"].apply(ritik)
df

     Survived  Pclass  Sex        Age     Fare
0           0       3    1  22.000000   7.2500
1           1       1    0  38.000000  71.2833
2           1       3    0  26.000000   7.9250
3           1       1    0  35.000000  53.1000
4           0       3    1  35.000000   8.0500
..        ...     ...  ...        ...      ...
886         0       2    1  27.000000  13.0000
887         1       1    0  19.000000  30.0000
888         0       3    0  29.699118  23.4500
889         1       1    1  26.000000  30.0000
890         0       3    1  32.000000   7.7500

[891 rows x 5 columns]

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [10]:
x=df.drop("Fare",axis="columns")

In [11]:
x.ndim

2

In [12]:
y=df["Fare"]

In [13]:
model.fit(x,y)

LinearRegression()

In [14]:
model.predict([[0,2,0,15]])

array([53.49403251])

In [15]:
import joblib

In [16]:
joblib.dump(model,"Ritik123.pkl")

['Ritik123.pkl']

In [17]:
import pickle

In [19]:
with open("Rahul.pkl",'wb') as files:
    pickle.dump(model,files)

In [20]:
import joblib
ritik1 = joblib.load("Ritik123.pkl")
ritik1.predict([[0,2,1,22]])

array([41.18987818])

In [21]:
import pickle
with open("Rahul.pkl",'rb') as files:
    model = pickle.load(files)
model.predict([[0,2,1,51]])

array([31.64923849])